<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Marker Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false" addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./app/Database</directory>
            <directory suffix=".php">./app/Models</directory>
        </whitelist>
    </filter>
    <php>
        <var name="DB_DSN" value="mysql:dbname=testDB;host=localhost"></var>
        <var name="DB_USER" value="moodledude"></var>
        <var name="DB_PASSWD" value="password"></var>
        <var name="DB_DBNAME" value="testDB"></var>
    </php>
</phpunit>