#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 1;
    padding: 0 15px;
    /*background: #0d47a1;*/
    overflow-y: auto;
}

#main {
    margin-left: 300px;

}

/*
-----------------------------------------------------------------------------------------------------------------
Navigation
-----------------------------------------------------------------------------------------------------------------
 */
.sidebar{
    /*border-right:1px solid crimson;*/
    padding: 2px;
    height:100vh;
}
.sidebar
.nav-menu {
    padding-top: 30px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 15px;
    margin-bottom: 8px;
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;

}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    text-decoration: none;
}
.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
    color: #149ddd;
}

/*
-----------------------------------------------------------------------------------------------------------------
Navigation
-----------------------------------------------------------------------------------------------------------------
 */